/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.button-download {
  background-color: #e7e7e7;
  color: #0097a7;
  width: 100px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #80cbc4;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  display: none;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon {
  opacity: 0;
}

.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #3ddac9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #03c8a8;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #03c8a8;
  color: #fff;
}

.sidebar.open .bx-search:hover {
  background: #03c8a8;
  color: #fff;
}

.sidebar .bx-search:hover {
  background: #fff;
  color: #0097a7;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #0097a7;
}

.sidebar li a:hover {
  background: #3ddac9;
  border: 2px solid #0097a7;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #ffffff;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #0097a7;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #0097a7;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #f4f5f9;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #0097a7;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

table {
  border-collapse: collapse;
  width: 240%;
  position: sticky;
}

th {
  background-color: #0097a7;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

td{
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

td {
  overflow: hidden;
  word-wrap: break-word;
}

.form-control {
  width: 400px;
}

.form-group {
  flex: 1;
  /* Konten form mengambil sisa lebar */
  padding: 0px 0px 0px 20px;
}

button[type="submit"] {
  background-color: #0097a7;
  /* Warna latar belakang hitam */
  color: #fff;
  /* Warna teks putih */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 20px;
}

.radio-container {
  display: flex;
  justify-content: left;
  margin: 20px 0;
}

.radio-container label {
  margin: 0 15px;
}

.form-container {
  display: none;
  max-width: 400px;
  margin: 20px auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label,
.form-container input {
  margin: 10px 0;
}

.form-container button {
  padding: 10px 15px;
  background-color: #1de9b6;
  color: #fff;
  border: none;
  cursor: pointer;
}

.two-field {
  display: flex;
  margin-right: 100%;
}

.hidden-form-container {
  display: none;
  opacity: 0;
  transform: translateY(-100%);
  /* Move the form above the viewport */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Add transitions for opacity and transform */
}

/* Show the form when it's visible */
.hidden-form-container.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
  /* Move the form back to its original position */
}

body {
  background-color: #f4f5f9;
}

.scroll-table {
  width: 100%;
  overflow-x: scroll;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
  display: inline-block;
}

.pagination li a,
.pagination li span {
  padding: 8px 16px;
  text-decoration: none;
  color: #1de9b6;
  background-color: #fff;
  border: 2px solid #1de9b6;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.pagination li.active span {
  background-color: #1de9b6;
  color: #fff;
}

.pagination li a:hover {
  background-color: #f2f2f2;
  color: #1de9b6;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-btn a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.book{
  background-color: rgb(255, 255, 255);
  padding: 5px;
  padding-top: 10px;
  margin: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  width: fit-content;
  padding-right: 5px;
  padding-bottom: 20px;
  overflow-x: hidden;
  margin-right: 1px;
  
}
.book label {
  display: block;
}

.book-position{
  display: flex;
}

.fixed_header {
  width: 1380px;
  table-layout: fixed;
  border-collapse: collapse;
}
.narrow-header {
  width: 1200px;
  
}








